@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Your Furnitures Too!!</h1>
    <h2><i><p class="lead">It’s there for you, day and night. Whether it’s a sofa that invites you to relax, a dining table that hears the day’s stories or a shelf that holds your memories, we think furniture can help create a better everyday life at home. That’s why we’re here!</p></i></h2>
</div>

<div class="column">
    <div class="row">
        <h2>Sleeping Beauty</h2>
        <img src="~/Images/first.jpg" style="width:100%">
    </div>
    <div class="row">
        <h2>Modern and Bright</h2>
        <img src="~/Images/second.jpg" style="width:100%">
    </div>
</div>